* text=auto eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.md text eol=lf whitespace=-trailing-space
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
